{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<main class="container">
    <h1 class="title is-1 is-spaced">Login</h1>
    <section class="section">
        {% if form.errors %}
        <p class="error-msg">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="error-msg">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p class="error-msg">Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field">
                <label class="label">{{ form.username.label_tag }}</label>
                <div class="control">{{ form.username }}</div>
            </div>
            <div class-"field">
                <label class="label">{{ form.password.label_tag }}</label>
                <div class="control">{{ form.password }}</div>
            </div>
            <button type="submit" class="button is-black is-large">Login</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </section>
</main>
{% endblock %}