*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.toppage-header {
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px rgb(182, 182, 182) solid;
    position: fixed;
    color: #000000;
    top: 0;
    z-index: 1000;
}

.toppage-header a {
    color: #000000;
}

.toppage-header a:visited {
    color: #000000;
}

.toppage-header a:hover {
    color: #00a0dc;
}

.header-spacer {
    height: 65px;
    width: 100%;
}

.top-title {
    margin: 0px 0px 0px 30px;
    padding-top: 3px;
    display: inline-block;
    font-size: 1.6rem;
}

.main-menu {
    display: inline-block;
}

.main-menu > ul {
    list-style: none;
}

.main-menu > ul > li {
    display: inline-block;
}

.header-menu {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.header-menu > ul {
    list-style: none;
}

.header-menu > ul > li {
    border: 1px solid #383cfd;
}

.header-menu > ul > li > a {
    padding: 5px 6px 4px 8px;
}

.header-menu > ul > li > a:hover {
    background-color: rgba(181, 193, 247, 0.25);
    transition: 0.4s
}

.toppage-footer {
    background-color: #626264;
    height: 5rem;
    position: relative;
}

.footer-container {
    color: white;
}

.footer-sns {
    width: 60%;
    display: inline-block;
}

.sns {
    display: inline-block;
    list-style: none;
}

.sns > li {
    display: inline-block;
}

.sns a:visited {
    color: white;
}

.footer-copyright {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.scroller {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffa500;
    display: inline-block;
}

.bg-band {
    width: 100%;
    height: 390px;
    background-color: #54e1ff;
    position: absolute;
    z-index: 0;
}

.main-wrapper {
    background-color: #F8F8F8;
    min-height: 90vh;
    position: relative;
    height: 100%;
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1060px;
    height: 100%;
    padding: 35px 30px 0 30px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.list-articles {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
}

.content-title {
    text-align: center;
}

.title {
    font-size: 2.4rem;
    text-align: center;
}

.article {
    width: 33%;
    padding: 0 30px 45px 30px;
    box-sizing: border-box;
    display: inline-block;
    margin: auto 0;
    font-size: 0;
    line-height: 0;
    height: 100%;
}

.article a:hover {
    color: #383cfd;
    transition: 0.4s
}

.image-link {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    font-size: 0;
}

.article-info {
    background-color: #FFFFFF;
    color: #324244;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.article-info > h1 {
    margin: 0;
    
}

.article-info a {
    color: #324244;
}

.article-info a:hover {
    color: #00a0dc;
}

.detail {
    text-align: right;
    color: #888;
    font-size: 0.7rem;
}

.single {
    background-color: #FFFFFF;
    max-width: 1000px;
}

.article-single {
    padding: 40px 50px 30px 50px;
}

.article-single > h1 {
    margin-top: 0;
    font-size: 2.3rem;
}
.article-single > h2 {
    background-color: #383cfd;
    color: white;
    padding-left: 20px;
}
.article-single > h3 {
    border-bottom: 1px #383cfd solid;
    color: #383cfd;
}