html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.toppage-header {
    width: 100%;
    background-color: rgba(83, 155, 238, 0.9);
    border-bottom: 1px rgb(182, 182, 182) solid;
    position: fixed;
    color: #ffffff;
}

.toppage-header a {
    color: #ffffff;
}

.toppage-header a:visited {
    color: #ffffff;
}

.top-title {
    margin: 0px 0px 0px 30px;
    padding-top: 3px;
    display: inline-block;
    font-size: 1.6rem;
}

.main-menu {
    display: inline-block;
}

.main-menu > ul {
    list-style: none;
}

.main-menu > ul > li {
    display: inline-block;
}

.header-menu {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.header-menu > ul {
    list-style: none;
}

.header-menu > ul > li {
    border: 1px solid #383cfd;
}

.header-menu > ul > li > a {
    padding: 5px 6px 4px 8px;
}

.header-menu > ul > li > a:hover {
    background-color: rgba(181, 193, 247, 0.25);
    transition: 0.4s
}

.toppage-footer {
    background-color: #626264;
    height: 5rem;
}

.footer-container {
    color: white;
}

.footer-sns {
    width: 60%;
    display: inline-block;
}

.sns {
    display: inline-block;
    list-style: none;
}

.sns > li {
    display: inline-block;
}

.sns a:visited {
    color: white;
}

.footer-copyright {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.scroller {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffa500;
    display: inline-block;
}

.main-wrapper {
    padding-top: 65px;
    background-color: #F8F8F8; 
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

.list-articles {
    padding: 0 40px;
}

.content-title {
    text-align: center;
}

.title {
    font-size: 2.4rem;
}

.article {
    width: 33%;
    padding: 0 30px 45px 30px;
    box-sizing: border-box;
    display: inline-block;
}

.article a:hover {
    color: #383cfd;
    transition: 0.4s
}

.tumb-box {
    width: 100%;
    border: black;
}

.article-info {
    background-color: #FFFFFF;
    color: #324244;
}

.article-info > h1 {
    margin: 0;
}

.detail {
    text-align: right;
}

.single {
    max-width: 800px;
}

.article-single {

}

.article-single > h1 {
    font-size: 2.3rem;
}
.article-single > h2 {
    background-color: #383cfd;
    color: white;
    padding-left: 20px;
}
.article-single > h3 {
    border-bottom: 1px #383cfd solid;
    color: #383cfd;
}