{% extends 'base.html' %}
{% block body %}
    {% for Post in Posts %}
        <article class="media">
            <figure class="media-left">
                <a href="{% url 'blog:detail' Post.id %}" class="image is-64x64 is-square">
                    {% if Post.image %}
                        <img src="{{ Post.image.url }}"> 
                    {% endif %}
                </a>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h3 class="is-size-6-mobile"><a href="{% url 'blog:detail' Post.id %}">{{ Post.title }}</a></h3>
                    <p>{{ Post.preview_content }}</p>
                    <p class="is-size-7 has-text-right has-text-weight-light">{{ Post.update_time | date:"Y.n.j" }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock body %}