{% extends 'base.html' %}
{% block body %}
<div class="main-container">
    <h1 class="title">Engineers' Blog</h1>
    <section class="list-articles">
        {% for Post in Posts %}
            <article class="article">
                <a href="{% url 'detail' Post.id %}" class="image-link">
                    {% if Post.image %}
                        <img src="{{ Post.image.url }}" height="100%" width="100%"> 
                    {% endif %}
                </a>
                <div class="article-info">
                    <h1><a href="{% url 'detail' Post.id %}">{{ Post.title }}</a></h1>
                    <div class="detail">
                        <span class="date">{{ Post.update_time | date:"Y.n.j" }}</span>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
</div>
{% endblock body %}