{% extends 'base.html' %}
{% block body %}
<section class="section">
    <h1 class="title has-text-centered">制作物</h1>
    <div class="columns is-multiline">
    {% for Work in Works %}
        <div class="column is-4">
            <div class="card">
            <a href=".modal-tile-{{ Work.id }}" class="modalOpen">
                <figure>
                    {% if Work.image %}
                        <img src="{{ Work.image.url }}" class="is-image-fit"> 
                    {% endif %}
                </figure>
                <div class="card-content has-background-white-ter">
                    <p>{{ Work.name }}</p>
                </div>
            </a>
            </div>
        </div>
        <!-- モーダルウインドウ -->
        <div class="modal modal-tile-{{ Work.id }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ Work.name }}</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>{{ Work.url_description }}：<a href="{{ Work.url }}">{{ Work.url }}</a></p>
                    <p>{{ Work.description }}</p>
                </section>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
<section class="section">
    <h1 class="title has-text-centered">スキルセット</h1>
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
        {% for SkillCategory in SkillCategorys %}
            <div class="tile is-parent box">
                <div class="tile is-child">
                    <h1 class="subtitle has-text-weight-bold">{{ SkillCategory.name }}</h1>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr><th>スキル</th><th>経験</th></tr>
                        </thead>
                        <tbody>
                            {% for SkillSet in SkillSets %}
                                {% if SkillSet.skill_category == SkillCategory %}
                                    <tr>
                                        <td>{{ SkillSet.skill }}</td>
                                        <td>{{ SkillSet.experience }}</td>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<section class="section">
    <h1 class="title has-text-centered">プロフィール</h1>
    <div class="columns">
    <div class="column is-3">
        {% if Profile.image %}
            <img src="{{ Profile.image.url }}" class="profile-image">
        {% endif %}
    </div>
    <article class="column is-9">
        <table class="table">
        <tr><th>氏名</th><td>{{ Profile.full_name }}</td></tr>
        <tr><th>経歴</th><td>{% autoescape off %}{{ Profile.career }}{% endautoescape %}</td></tr>
        <tr><th>自己紹介</th><td>{% autoescape off %}{{ Profile.introduction }}{% endautoescape %}</td></tr>
        </table>
    </article>
    </div>
</section>
{% endblock body %}
