<!DOCTYPE html>
<html lang="ja">
<head>
    {% block title %}<title>もとチャンネル</title>{% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    {% load static %}
    <link rel="icon" href="{%  static 'favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myportfolio/style.css' %}">
</head>
<body class="has-navbar-fixed-top">
    <header>
        <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'blog:index' %}">もとチャンネル</a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="header-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="header-menu" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'blog:index' %}" class="navbar-item">ブログ</a>
                    <a href="{% url 'myportfolio' %}" class="navbar-item">ポートフォリオ</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-9">
                    {% block body %}
                    {% endblock body %}
                </div>
                <div class="column is-3 is-hidden-touch">
                    <div class="has-background-white-ter" style="height:100vh;padding-top:50px;">
                        <p style="writing-mode:vertical-rl;margin: 0 auto;font-size:120px;">ここ準備中</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-left">
            <a href="https://www.facebook.com/motoki.moriya.1" target="_blank">
                <span class="fa-stack" style="color:#315096">
                    <i class="fab fa-facebook-square fa-stack-2x"></i>
                </span>
            </a>
            <a href="https://twitter.com/youkan_ms" target="_blank">
                <span class="fa-stack" style="color:#55acee">
                    <i class="fab fa-twitter fa-stack-2x"></i>
                </span>
            </a>
            <a href="https://qiita.com/youkan_ms" target="_blank">
                <span class="fa-stack" style="color:#4cb10d;overflow:hidden;">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-search fa-stack-1x fa-inverse fa-2x"></i>
                </span>
            </a>
            <a href="https://github.com/motokishibata" target="_blank">
                <span class="fa-stack" style="color:#000000">
                    <i class="fab fa-github fa-stack-2x"></i>
                </span>
            </a>
        </div>
        <div class="content has-text-right">
            <small>&copy;MotoChannel</small>
        </div>
    </footer>
<script type="text/javascript" src="{% static 'blog/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/common.js' %}"></script>
<script type="text/javascript" src="{% static 'myportfolio/portfolio.js' %}"></script>
</body>
</html>