<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myportfolio/style.css' %}">
</head>
<body>
    <header class="toppage-header">
        <div>
            <h1 class="top-title">
                <a href="{% url 'index' %}">ようかんの開発ブログ（仮）</a>
            </h1>
            <nav class="main-menu">
                <ul>
                    <li><a href="#">プログラミング</a></li>
                    <li><a href="#">水ようかん</a></li>
                    <li><a href="#">バイク</a></li>
                    <li><a href="#">雑記</a></li>
                </ul>
            </nav>
            <nav class="header-menu">
                <ul>
                    <li><a href="{% url 'myportfolio' %}">PORTFOLIO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-wrapper">
        {% block body %}
        {% endblock body %}
    </div>
    <footer class="toppage-footer">
        <div class="footer-container">
            <h1 class="top-title">ようかんの開発ブログ（仮）</h1>
            <div class="footer-sns">
                <ul class="sns">
                    <li><a href="#" target="_blank">facebook</a></li>
                    <li><a href="https://twitter.com/youkan_ms" target="_blank">twitter</a></li>
                    <li><a href="https://qiita.com/youkan_ms" target="_blank">qiita</a></li>
                </ul>
            </div>
            <div class="footer-copyright">
                <small>© YOUKAN Co., Ltd.</small>
                <div class="scroller">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>